.stops {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.stop {
  border-radius: 32px;
  border: 1px solid var(--color-border-gray);
  padding: 8px 12px;
  font-size: 14px;
}

.card {
  position: absolute;
  top: 40px;
  border-radius: var(--radius-primary);
  background-color: var(--color-bg);
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 440px;
  padding: 20px;
  z-index: 100;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head p,
.head span {
  font-weight: var(--fw-medium) !important;
  font-size: var(--fs-main-text) !important;
}

.head span {
  margin-left: 12px;
  color: var(--color-fg-secondary);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.body span {
  margin-right: 11px;
  color: var(--color-fg-secondary);
}

.placeholder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.input_container {
  z-index: 1000;
  padding: 12px;
  background-color: var(--color-bg);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.input_container input {
  padding: 16px 14px;
  border-radius: var(--radius-primary);
  border: 1px solid var(--color-border-gray);
}
.select {
  padding: 16px 14px;
  border-radius: var(--radius-primary);
  border: 1px solid var(--color-border-gray);
  min-width: 330px;
}