.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 12px 40px;
}



.link {
  border-radius: var(--radius-primary);
  padding: 12px;
  display: flex;
  gap: 13px;
}

.link:hover {
  background-color: var(--color-gray-active);
}

.link.active {
  background-color: var(--color-gray-active);
  color: var(--color-primary-blue);
}

.link.active * {
  fill: var(--color-primary-blue);
}
